<nb-card size="giant" status="basic">
    <nb-card-header>
        <button nbButton (click)="goToCreateProject()">Create Project</button>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab
                tabTitle="{{ (boards$ | async)?.length }} Open"
                tabIcon="activity-outline"
            >
                
                <nb-list *ngIf="(boards$ | async)?.length > 0">
                    <nb-list-item
                        *ngFor="let board of (boards$ | async)"
                        style="position: relative"
                    >
                        <nb-user
                            class="board_card_linker"
                            [name]="board.title"
                            [title]="'updated: ' + (board.updated_at | dateAgo)"
                            [routerLink]="['/board', board._id]"
                        >
                        </nb-user>

                        <div style="position: absolute; left: 280px;">
                            {{ board.description }}
                        </div>
                        
                        <div style="position: absolute; right: 2%;">
                            <button nbButton ghost status="basic" nbTooltip="Update" [routerLink]="['/projects', 'update', board._id]" [state]="{board: board}">
                                <nb-icon icon="edit-2-outline"></nb-icon>
                            </button>
                            <button nbButton ghost status="basic" nbTooltip="Delete"  (click)="deleteProject(board._id)">
                                <nb-icon icon="trash-2-outline"></nb-icon>
                            </button>
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-tab>
            <nb-tab
                tabTitle="{{ closed_boards.length }} Closed"
                tabIcon="done-all-outline"
                nbTooltip="Coming Soon"
                disabled
            >
                <nb-list>
                    <nb-list-item
                        *ngFor="let board of closed_boards"
                        (click)="listClicked(board)"
                        style="position: relative; cursor: pointer"
                    >
                        <nb-user
                            [name]="board.name"
                            [title]="board.title"
                            picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG"
                        >
                        </nb-user>

                        <div style="margin-left: 3%">
                            {{ board.description }}
                        </div>

                        <nb-badge
                            text="private"
                            status="basic"
                            position="right"
                        ></nb-badge>
                    </nb-list-item>
                </nb-list>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>