<div class="form">
<nb-layout>
    <nb-layout-column>
      <nb-card size="medium">
        <nb-card-header>
            <p class="sign" align="center">Sign in</p>
        </nb-card-header>
        <label align="left">Username</label>
        <input type="email" class="em" nbInput fullWidth status="primary" fieldSize="medium" placeholder="Username">
        <br>
        <label align="left">Password</label>
        <input type="password" class="pass" nbInput fullWidth status="primary" fieldSize="medium" placeholder="Password">
        <button nbButton class="submit" status="success" size="small" shape="semi-round">Login</button>
      </nb-card>
    </nb-layout-column>
  </nb-layout>
</div>
