<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <nb-layout>
      <nb-layout-column>
        <nb-card size="medium">
          <nb-card-header>
            <p class="sign" align="center">Sign in</p>
          </nb-card-header>
          <nb-card-body>
          <label align="left">Email</label>
          <input type="email" class="em" nbInput fullWidth status="primary" fieldSize="medium" formControlName="email"
            placeholder="Email">
          <br>
          <label align="left">Password</label>
          <input type="password" class="pass" nbInput fullWidth status="primary" fieldSize="medium"
            formControlName="password" placeholder="Password">
          </nb-card-body>
          <nb-card-footer>
          <button nbButton [disabled]="!myForm.valid" type="submit" status="success" size="medium"
            shape="semi-round">Login</button>
          </nb-card-footer>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>
</form>