<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <nb-card>
    <nb-card-header>Update Project</nb-card-header>
    <nb-card-body>
      <div>
        <input type="text" nbInput placeholder="Title" id="title" formControlName="title"/>
      </div>
      <div>
        <textarea type="textarea" nbInput fullWidth placeholder="Description (Optional)" formControlName="description"></textarea>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button [nbSpinner]="loading"  nbButton [disabled]="!myForm.valid">Update Project</button>
    </nb-card-footer>
  </nb-card>
</form>