<nb-layout style="background-color: aqua !important;">
  <nb-layout-column>
    <nb-card status="warning">
      <nb-card-header>
        TODO
        <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </nb-card-header>
      <nb-list nbInfiniteList listenWindowScroll>
        <nb-list-item *ngFor="let card of (cardsTODO$ | async)">
          <div class="box">
            <div style="margin: 5px;">
              <span style="font-weight: bold;">{{card.title}}</span>
              <button status="primary" size="tiny" nbButton (click)="updateCard('TODO')">
                <nb-icon icon="more-horizontal"></nb-icon>
              </button>
              <p style="color: black;">
                {{card.description}}
              <p>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card status="danger">
      <nb-card-header>
        IN PROGRESS
        <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let card of (cardsInprogress$ | async)">
          <div class="box">
            <div style="margin: 5px;">
              <span>{{card.title}}</span>
              <button status="primary" size="tiny" nbButton (click)="updateCard('TODO')">
                <nb-icon icon="more-horizontal"></nb-icon>
              </button>
              <p style="color: black;">{{card.description}}
              <p>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card status="success">
      <nb-card-header>
        COMPLETE
        <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let card of (cardsDone$ | async)">
          <div class="box">
            <div style="margin: 5px;">
              <span>{{card.title}}</span>
              <button status="primary" size="tiny" nbButton (click)="updateCard('TODO')">
                <nb-icon icon="more-horizontal"></nb-icon>
              </button>
              <p style="color: black;">{{card.description}}
              <p>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
</nb-layout>