nb-layout-column {
  padding: 1rem 1rem 0.75rem !important;
}

button {
  float: right;
}

.box {
  overflow: hidden;
  color: black;
  border-radius: 0.25rem;
  border: 0.0625rem solid #e4e9f2;
  padding: 5px;
  width: 100%;
  background-color: #e4e9f2;
}

.box p {
  color: black;
}

.box .htitle {
  font-size: large;
  font-weight: 700;
}

.box p.credit {
  color: rgb(123, 123, 123);
  font-style: italic;
  font-size: small;
}

.box span {
  font-weight: 700;
}

nb-layout {
  max-width: 800px;
}
