<nb-layout>
  <nb-layout-column>
    <nb-card status="warning">
      <nb-card-header>
        TODO
        <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </nb-card-header>
      <nb-list nbInfiniteList listenWindowScroll>
        <nb-list-item *ngFor="let fruit of fruits">
          <div class="box">
            <div style="margin: 5px;">
              <span>this is title</span>
              <button status="primary" size="tiny" nbButton (click)="updateCard('TODO')">
                <nb-icon icon="more-horizontal"></nb-icon>
              </button>
              <p style="color: black;">Created by: {{fruit.name}}
              <p>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card status="danger">
      <nb-card-header>
        IN PROGRESS
        <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          <div class="box">
            <div style="margin: 5px;">
              <span>this is title</span>
              <button status="primary" size="tiny" nbButton (click)="updateCard('TODO')">
                <nb-icon icon="more-horizontal"></nb-icon>
              </button>
              <p style="color: black;">Created by: {{fruit.name}}
              <p>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card status="success">
      <nb-card-header>
        COMPLETE
        <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          <div class="box">
            <div style="margin: 5px;">
              <span>this is title</span>
              <button status="primary" size="tiny" nbButton (click)="updateCard('TODO')">
                <nb-icon icon="more-horizontal"></nb-icon>
              </button>
              <p style="color: black;">Created by: {{fruit.name}}
              <p>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
</nb-layout>