<nb-layout>
  <nb-layout-column>
    <nb-card size="medium" status="warning">
      <nb-card-header>
        TODO <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">+</button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          <div style="overflow: hidden; border: 1px solid red; padding: 5px; width: 100%;background-color: aliceblue;">
            <div style="margin: 5px;">
              <span>this is titleaaaaaaaaaaaaaaaaaa</span>
              <p>Created by: 'aaa'
              <p>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card size="medium" status="danger">
      <nb-card-header>
        IN PROGRESS <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">+</button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card size="medium" status="success">
      <nb-card-header>
        COMPLETE <button status="primary" size="tiny" nbButton (click)="addNewCard('TODO')">+</button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
</nb-layout>