<form [formGroup]="myForm">
  <nb-card status="info">
    <nb-card-header>Create a New Card</nb-card-header>
    <nb-card-body>
      <div>
        <input type="text" nbInput placeholder="Title" id="title" formControlName="title" />
      </div><br />
      <div>
        <textarea type="textarea" nbInput fullWidth placeholder="Description (Optional)"
          formControlName="description"></textarea>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="!myForm.valid">Create</button>
    </nb-card-footer>
  </nb-card>
</form>