<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <nb-card size="small" status="info">
    <nb-card-header>Create a New Card</nb-card-header>
    <nb-card-body>
      <div>
        <input type="text" nbInput placeholder="Title" id="title" formControlName="title" />
      </div><br />
      <div>
        <textarea type="textarea" nbInput fullWidth placeholder="Description (Optional)"
          formControlName="description"></textarea>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button status="success" nbButton [disabled]="!myForm.valid">Create</button>
      <button style="margin-left: 20px;" nbButton (click)="backToHome()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</form>