<form [formGroup]="myForm">
  <nb-card size="small" status="info" style="width: 30rem;">
    <nb-card-header>Update Card</nb-card-header>
    <nb-card-body>
      <div>
        <input fullWidth type="text" nbInput placeholder="Title" id="title" formControlName="title" />
      </div><br />
      <div>
        <textarea type="textarea" nbInput fullWidth placeholder="Description (Optional)"
          formControlName="description"></textarea>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="!myForm.valid">Update</button>
      <button style="margin-left: 10px;" status="danger" nbButton (click)="onDelete()">Delete</button>
    </nb-card-footer>
  </nb-card>
</form>